.items {
	position: relative;
	top:30px;
	height:100px;
}
.item {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1.5px solid #337ab7;
	border-bottom: 1.5px solid #337ab7;
}

.qty input {
	width:10%;
}

.bill {
	border-left:1px solid #3c3c3c;
}

.bill .text {
	margin-bottom: 20px;
}

.button a{
	border-radius:10px;
	background-color: #71bdff;
	color: white;
	padding:8px;
	cursor: pointer;
}

.button a:hover {
	color: #71bdff;
	background-color: white;
	text-decoration: none;
}